html, body {
    margin: 0;
    padding: 0;
}

/*ul#folder-tree {
	position: relative;
	width: 500px;
	height: auto;
	margin: 70px 0 0 10px;
	padding: 0;
}

#folder-tree li {
	margin-left: 15px;
	color: #555;
	font-weight: bold;
}

#folder-tree li .description {
	font-weight: normal;
}

#folder-tree li:hover {
	background-color: #f4f4f4;
	cursor: pointer;
}
*/

#folder-tree {
    position: relative;
    width: auto;
    height: auto;
    margin: 70px 0 0 20px;
    padding: 0;
}

.tree, .tree ul {
    font-size: 22px;
    margin: 0;
    padding: 3px 0 0 7px;
    list-style: none;
    /*border: 1px solid red;*/
}

.tree ul {
    display: none;
    margin: 0 0 0 10px;
    border-left: 1px solid #ddd;
}

.tree li {
    list-style: none;
    padding: 0 3px 0 0;
}

.tree li .description {
    font-size: 12px;
}

.tree ul.opened {
    display: block;
}

.tree a {
    color: #555;
    display: block;
    position: relative;
    text-decoration: none;
    padding: 1px 0 1px 28px;
    background-repeat: no-repeat;
}

.tree a:before {
    content: '';
    width: 0;
    height: 0;
    border: 0;
    border-top: 3px solid transparent;
    border-left: 4px solid #ccc;
    border-bottom: 3px solid transparent;
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 0px;
    margin: 0 4px 0 0;
}

.tree a.harFull.harOpen:before {
    border: 0;
    border-left: 3px solid transparent;
    border-top: 4px solid #555;
    border-right: 3px solid transparent;
    top: 14px;
}

.tree a.harFull:before {
    border: 0;
    border-top: 3px solid transparent;
    border-left: 4px solid #555;
    border-bottom: 3px solid transparent;
    top: 12px;
}

.tree a:hover {
    text-decoration: underline;
}

.tree a.cur {
    color: #000
}

.tree a.harOpen {
    color: #000
}