#map-canvas {
   height: 100%;
 }

#signinbar {
  margin: 10px 10px 0 0;
  display: none;
  button{
    margin: 3px 5px;
  }
}

#menubar {
  margin: 10px !important;
  display: none;
  .btn-group {
    margin: 3px 3px;
    button {
      margin: 0;
    }
  }
}

.gmnoprint.gm-style-mtc {
  margin: 10px !important;
}