html,
body,
.layout-item {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#list-layout {
  overflow: hidden;
  display: none;
}
#list-header {
  height: 44px;
  width: 100%;
  background: #f8f8f8;
  border-bottom: 1px solid #c8c7cc;
  padding: 7px;
  position: absolute;
}
#list {
  padding-top: 44px;
  height: 100%;
}
#list ul {
  list-style: none;
  padding: 0;
  height: 100%;
  overflow: auto;
}
#list ul li {
  border-bottom: 1px solid #c8c7cc;
  overflow: hidden;
  text-overflow: ellipsis;
}
#list ul li div {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  float: left;
  margin: 5px 7px 0 7px;
}
.online {
  background-color: #5cb85c;
}
.offline {
  background-color: #d9534f;
}
.clearable {
  background-image: url(../img/x.png) !important;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right -10px center;
  border: 1px solid #999;
  padding: 3px 18px 3px 4px;
  border-radius: 3px;
  transition: background 0.4s;
}
.clearable.x {
  background-position: right 5px center;
}
.clearable.onX {
  cursor: pointer;
}
.modal {
  overflow-y: auto !important;
}
.form-control {
  border-radius: 0;
}
#map-canvas {
  height: 100%;
}
#signinbar {
  margin: 10px 10px 0 0;
  display: none;
}
#signinbar button {
  margin: 3px 5px;
}
#menubar {
  margin: 10px !important;
  display: none;
}
#menubar .btn-group {
  margin: 3px 3px;
}
#menubar .btn-group button {
  margin: 0;
}
.gmnoprint.gm-style-mtc {
  margin: 10px !important;
}
